<h1>Create New Client</h1>

<%= form_for(@client) do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.text_field :state %>

    <%= f.label :zip %>
    <%= f.text_field :zip %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :client_notes %>
    <%= f.text_field :client_notes %>

    <p> Choose An Appointment </p>
        <div>
            <%= f.collection_select :appointment_ids, Appointment.all, :id, :time %>
        </div>

        
            <p> OR Create A Time </p>
        <div>
            <%= f.fields_for :appointment do |a| %>
                <%= a.label :time %>
                <%= a.text_field :time %>
                <%= a.label :date %>
                <%= a.text_field :date %>
                <%= a.label :appointment_notes %>
                <%= a.text_field :appointment_notes %>
                <% end %>
        </div>
    <%= f.submit "Create Client" %>

    <% end %>